@model EmailModel
@{
    ViewData["Title"] = "Booking Pages";
}

<h1>Microsoft | Nexsys </h1>

<h2>Reserva para:</h2>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<div class="row">
    <div class="col-6">

        <form asp-controller="Home" asp-action="SendMessage" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-4 mb-4">
                <label>Área de Solución</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Business Applications" asp-items="Solution" checked>
                    <label class="form-check-label" asp-items="Solution">
                        Business Applications
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Data & AI" asp-items="Solution">
                    <label class="form-check-label" asp-items="Solution">
                        Data & AI
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Digital & App Innovation" asp-items="Solution">
                    <label class="form-check-label" asp-items="Solution">
                        Digital & App Innovation
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Infrastructure" asp-items="Solution">
                    <label class="form-check-label" asp-items="Solution">
                        Infrastructure
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Modern Work" asp-items="Solution">
                    <label class="form-check-label" asp-items="Solution">
                        Modern Work
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Solution" value="Security" asp-items="Solution">
                    <label class="form-check-label" asp-items="Solution">
                        Security
                    </label>
                </div>
            </div>
            <div class="form-group mb-4">
                <label>Personal</label>
                <select class="form-select" aria-label="" asp-for="Staff" required>
                    <option selected>Seleccionar el personal</option>
                    <option value="Brihan.Bocanegra@nexsysla.com">Brihan Bocanegra</option>
                    <option value="Elmer.Moreno@nexsysla.com">Elmer Moreno</option>
                    <option value="Ana.Pares@nexsysla.com">Ana María Pares</option>
                    <option value="Allison.Perez@nexsysla.com">Allison Perez</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label>Fecha</label>
                <input type="date" class="form-control" asp-for="Date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="datepicker" />
            </div>
            <div class="form-group mb-4">
                <label>Hora</label>
                @{
                    var startHour = 9;
                    var endHour = 17;
                    var currentDate = DateTime.Now.Date;
                    var startDate = currentDate.AddHours(startHour);
                    var endDate = currentDate.AddHours(endHour);
                }
                <input type="time" class="form-control" asp-for="Time"
                       min="@startDate.ToString("h:mm tt")"
                       max="@endDate.ToString("h:mm tt")"
                       step="900" />
            </div>

            <div class="form-group mb-4">
                <label asp-for="FirstName" class="control-label">Nombre</label>
                <input asp-for="FirstName" class="form-control" placeholder="Nombre" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label>Apellido</label>
                <input type="text" class="form-control" asp-for="LastName" placeholder="Apellido" required />
            </div>
            <div class="form-group mb-4">
                <label>Correo electrónico</label>
                <input type="email" class="form-control" asp-for="Email"
                       placeholder="Correo electrónico"
                       required
                       data-val="true"
                       data-val-email="El correo electrónico no es válido."
                       data-val-required="El correo electrónico es obligatorio." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group mb-4">
            <label>Asunto</label>
            <input type="text" class="form-control" asp-for="Subject" placeholder="Agregue aquí su respuesta" />
            </div>*@

            <div class="form-group mb-4">
                <div class="row align-items-center">
                    <label>Número de teléfono</label>
                    <div class="col-6">                        
                        <select class="form-select" aria-label="SelectCoutryCode" asp-for="PostalCode" required>
                            <option value="SelectCoutryCode" hidden="">Seleccionar código de país</option>
                            <option value="+51">Perú +51</option>
                            <option value="+54">Argentina +54</option>
                            <option value="+56">Chile +56</option>
                            <option value="+57">Colombia +57</option>
                            <option value="+591">Bolivia +591</option>
                            <option value="+593">Ecuador +593</option>
                            <option value="+595">Paraguay +595</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" asp-for="PhoneNumber"
                                placeholder="Agregue su número de teléfono"
                                required
                                data-val="true"
                                pattern="[0-9]{10}"
                                data-val-regex="El número de teléfono no es válido."
                                data-val-required="El número de teléfono es obligatorio." />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label>Empresa</label>
                <input type="text" class="form-control" asp-for="Company" placeholder="Agregue aquí su respuesta" required />
            </div>
            <div class="form-group mb-4">
                <label>País</label>
                <select class="form-select" aria-label="SelectCoutry" asp-for="Country" required>
                    <option value="SelectCoutry" hidden="">Seleccionar código país</option>
                    <option value="Perú">Perú</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Chile">Chile</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Ecuado">Ecuador</option>
                    <option value="Paraguay">Paraguay</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label>Dirección</label>
                <input type="text" class="form-control" asp-for="Address" placeholder="Agregue aquí su respuesta" />
            </div>

            <div class="form-group mb-4" style="display: none;">
                <label>Event Id</label>
                @{
                    var emailModel = new EmailModel();
                }
                <input type="text" class="form-control" value="@emailModel.EventId" asp-for="EventId" disabled />
            </div>
            <div class="form-group mb-4" style="display: none;">
                <label>Nombre del evento</label>
                <input type="text" class="form-control" asp-for="EventName" />
            </div>
            <div class="form-group mb-4">
                <label>Tipo de evento</label>
                <select class="form-select" aria-label="EventType" asp-for="EventType" required>
                    <option value="EventType" hidden="">Seleccionar una opción</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Online">Online</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label>Ayúdame a estar preparado ¿Cuál es tu consulta?</label>
                <textarea class="form-control" asp-for="Message" placeholder="Agregue aquí su respuesta"></textarea>
            </div>
            <div class="form-group mb-4">
                <label>Asistentes</label>
                <select class="form-select" aria-label="SelectAttendees" asp-for="Attendees" required>
                    <option value="SelectAttendees" hidden="">Número de asistentes</option>
                    <option value="1">1</option>
                    <option value="2-4">2-4</option>
                    <option value="5-9">5-9</option>
                    <option value="10-24">10-24</option>
                    <option value="25-49">25-49</option>
                    <option value="50-249">50-249</option>
                    <option value="250-999">250-999</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label>Contactos adicionales</label>
                <textarea id="EmailList" asp-for="EmailList" class="form-control" rows="4" placeholder="Ingrese los correos electrónicos separados por comas"></textarea>
                <span asp-validation-for="EmailList" class="text-danger"></span>                    
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6">
        <img src="~/image/page.jpg" style="width: 100%;" />
    </div>
</div>
